{{page-head title="Loader"}}
<div class="mt-4">
  <p class="lead">Loader</p>
</div>

<div class="mt-4">
  <div class="mt-4 mb-4">
    <div class="">
      <button class="btn btn-outline-secondary" {{action 'setLoaderSmall'}}>Small</button>
      <button class="btn btn-outline-secondary" {{action 'setLoaderMeduim'}}>Medium</button>
      <button class="btn btn-outline-secondary" {{action 'setLoaderLarge'}}>Large</button>
    </div>
  </div>
  {{ loader/loader-spinner size=size }}
  <div class="mt-2 mb-2">
    <span>Class</span> = <span class="font-weight-bold">{{size}}</span>
  </div>
</div>
